body
{
	margin:0px;
}
a
{
	text-decoration:none;
}
#header,#center,#footer
{
	width:100%;
	
}
#datepicker1
{
	 font-size: 18px;
    padding: 5px;
}
.logo img
{
	width:200px;
	padding:5px;
}
.navbar-nav>.notifications-menu>.dropdown-menu, .navbar-nav>.messages-menu>.dropdown-menu, .navbar-nav>.tasks-menu>.dropdown-menu
{
	width:400px !Important;
}
.menu_top,.content
{
	width:90%;
	max-width:1200px;
	margin: 0px auto;
}
.info,.logout
{
	padding:10px 5px !Important;
}
.menu_top ul li a
{
	padding:10px 15px;
}
.menu_top ul li a
{
	display:inline-block;
}
.login_form ul li
{
	display:inline-block;
	width:200px;
}
.loading
{
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0px;
	background-color:#000;
	opacity:0.5;
	z-index:99;
}
.login_form
{
	position:fixed;
	top:200px;
	z-index:9999;
	background-color:#fff;
	padding:20px 0px;
	border-radius:5px;
}
.insert_time
{
	width:600px;
	margin:auto;
	text-align: center;
}
.insert_time ul li
{
	display:inline-block;
	width:200px;
	
}
.get_time
{
	margin-bottom:50px;
}
.get_time  ul li
{
	display:inline-block;
	width:200px;
	
}
.date_info_table  input
{
	padding:5px;
	width:100%;
}
.date_info_table button
{
	width:100%;
	font-size: 16px;
}
.get_time  .xdsoft_calendar {
    display: none;
}
.date_disabled
{
	display:none;
}
.get_time  ul li input
{
	padding-left: 5px;
}